*{
    margin: 0px;
}

/*Nav Stlyles*/
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 36px;
    
}

.left-side{
    display: flex;
}

.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom;
}

.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid blue;
}

.nav-link-wrapper a:hover{
    color: black;
}

.active-nav-link{
    border-bottom: 1px solid blue;
}

.active-nav-link a{
    color: black !important;
}

/*about.html styles*/
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column1 img{
    width: 100%;
    border-radius: 2rem;
    height: auto;
}

.ab1 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #fff 80%, #f87ae3 20%);
}

.content-wrapper {
    padding: 0;
    margin: 0;
    position: absolute;
}

.column1 {
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
}

.column2 h3 {
    font-size: 35px;
    margin-bottom: 20px;
    position: relative;
}

.column1 h3 {
    font-size: 35px;
    margin-bottom: 20px;
    position: relative;
}

.column2 p {
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
}

.cf p{
    display: inline-block;
}

.ccf p{
    display: inline-block;
}

.hack p{
    display: inline-block;
}

.atcoder p{
    display: inline-block;
}

img {
    height: 6rem;
    width: 6rem;
    border-radius: 1.25rem;
    align-self: center;
}

#boxn {
    margin: 0.2rem 9rem 0.5rem 6rem;
    display: flex;
    flex-direction: column;
    
}

#boxn .btn{
    margin-top: 20px;
}